XSD/ejemplos alumnos/Ejemplo3arestricciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:simpleType name = "tipomarca">   
    <xs:restriction base="xs:string">
        <xs:enumeration value="Audi"/>
        <xs:enumeration value="Dacia"/>
        <xs:enumeration value="Golf"/>
    </xs:restriction>
    <xs:element name="coches">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coche" maxOccurs="unbounded" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 </xs:simpleType>
</xs:schema>