XSD/ejemplos alumnos/Ejemplo1nota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="para" type="xs:string" />
                <xs:element name="de" type="xs:string" />
                <xs:element name="numero" type="xs:integer" />
                <xs:element name="cabecera" type="xs:string" />
                <xs:element name="mensaje" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="fecha" type="xs:date" />
                <xs:element name="hora" type="xs:time" />
                <xs:element name="leido" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType> 
    </xs:element>
</xs:schema>