DTD/Ejemplos DTD/ejemplos3/ej61.dtd

<!ELEMENT aeropuerto (nombre,vuelos,fecha)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT vuelos (vuelo+)>
<!ELEMENT vuelo (diario?,origen,destino,hora-salida,hora-llegada)>
<!ATTLIST vuelo código ID #REQUIRED
            estado (C | E| R) "E">
<!ATTLIST vuelo estado NMTOKEN #REQUIRED>
<!ELEMENT diario EMPTY>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destino (#PCDATA)>
<!ELEMENT hora-salida (#PCDATA)>
<!ELEMENT hora-llegada (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>