XSD/ejercicio6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="pedido_muebles">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mueble" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <xs:element name="tipo">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="armario"/>
                    <xs:enumeration value="mesa"/>
                    <xs:enumeration value="silla"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="color">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="blanco"/>
                    <xs:enumeration value="gris"/>
                    <xs:enumeration value="fresno"/>
                    <xs:enumeration value="abedul"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="unidades">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>