XSD/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="elemento_quimico">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="estado">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="sólido"/>
              <xs:enumeration value="líquido"/>
              <xs:enumeration value="gaseoso"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="simbolo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="3"/>
              <xs:pattern value="[A-Z][a-z]{0,2}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="punto_ebullicion">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:decimal">
                <xs:attribute name="unidades" default="centígrados">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="centígrados"/>
                      <xs:enumeration value="kelvin"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="densidad">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:decimal">
                <xs:attribute name="unidades" type="xs:string" fixed="gramos por centímetros cúbicos"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>