DTD/Ejercicio DTD/ejer7.dtd

<!ELEMENT cartelera (pelicula+)>
<!ELEMENT pelicula (titulo,titulo_original?,nacionalidad,genero+,(clasificacion | sin_clasificar),sinopsis,director,reparto,web?,cartel?)>
<!ATTLIST pelicula codigo ID #REQUIRED
                    duracion CDATA #REQUIRED
                    anio  CDATA "2025" >
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT titulo_original (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT clasificacion EMPTY>
<!ATTLIST clasificacion edad 
                        (tp|8|12|16|18) #REQUIRED>
<!ELEMENT sin_clasificar EMPTY>
<!ELEMENT sinopsis (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT reparto (actor|actriz)+>
<!ELEMENT actor (#PCDATA)>
<!ELEMENT actriz (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT cartel (#PCDATA)>
