XPATH/EJER1/ejer2.dtd

<!ELEMENT universidad (nombre,pais,carreras,asignaturas,alumnos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT carreras (carrera+)>
<!ELEMENT carrera (nombre?,plan?,creditos?,centro?,subdirector?)>
<!ATTLIST carrera id NMTOKEN #IMPLIED>
<!ATTLIST carrera codigo NMTOKEN #IMPLIED>
<!ELEMENT plan (#PCDATA)>
<!ELEMENT creditos (#PCDATA)>
<!ELEMENT centro (#PCDATA)>
<!ELEMENT subdirector (#PCDATA)>
<!ELEMENT asignaturas (asignatura+)>
<!ELEMENT asignatura (nombre?,creditos_teoricos?,creditos_practicos?,trimestre?)>
<!ATTLIST asignatura id NMTOKEN #IMPLIED>
<!ATTLIST asignatura titulacion NMTOKEN #IMPLIED>
<!ATTLIST asignatura codigo NMTOKEN #IMPLIED>
<!ELEMENT creditos_teoricos (#PCDATA)>
<!ELEMENT creditos_practicos (#PCDATA)>
<!ELEMENT trimestre (#PCDATA)>
<!ELEMENT alumnos (alumno+)>
<!ELEMENT alumno (apellido1,apellido2,nombre,sexo,estudios)>
<!ATTLIST alumno id NMTOKEN #REQUIRED>
<!ATTLIST alumno beca NMTOKEN #IMPLIED>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT sexo (#PCDATA)>
<!ELEMENT estudios (carrera,asignaturas,proyecto?)>
<!ELEMENT proyecto (#PCDATA)>