XSD/ejercicios/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipoDosDigitos">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]|1[0-9]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="fichas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codigo" type="tipoDosDigitos" />
                            <xs:element name="nombre" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="numero" type="tipoDosDigitos" use="required" />
                        <xs:attribute name="letra" use="optional" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="X" />
                                <xs:enumeration value="Y" />
                                <xs:enumeration value="Z" />
                            </xs:restriction>
                        </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>